<div class="lorem">
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti minus sunt, nihil quidem sint earum iste
        reprehenderit veniam dicta saepe atque perferendis tempora ratione! Molestias a officia repellendus est
        deleniti.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae esse maxime suscipit? Ducimus provident
        dolorem harum ipsum labore? Minus quibusdam reiciendis non atque natus. Eos commodi debitis accusamus magni
        officia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere officiis aperiam minima exercitationem itaque,
        ducimus facilis ipsam! Earum impedit cumque veniam sequi nihil ea libero modi est repudiandae explicabo?</p>
</div>